 
.page-title{
    text-align: center;
    width:100%;
}
.registration-form{
    width:100%;
    margin:0;
    padding: 0;
}
.box{
    background-color: black;
    color: azure;  
    width:100%; 
}
 
 